.footer-container hr{
    color: white;
    margin: 3px !important;
}
.footer-sub-container{
width: 50vw;
display: flex;
flex-direction: column;
margin: 10px;
padding: 20px;
}
.foot-soc{
width: 100%;
display: flex;
justify-content: flex-start;
gap: 35px;
}
#qlinks a{
padding-top: 10px;
padding-bottom: 5px;
padding-left: 9px;
text-decoration: none;
color: rgba(168, 165, 165,0.75);
font-size: 11px;              /* 10px */  
margin-top: 10px;      
transition: 1.5s;
}
#qlinks a:hover{
background-color: orange;
color:white;

}
#qlinks .foot-soc a{
padding-top: 0;
padding-bottom:0;
padding-left: 0;
font-size: 20px;
border-radius: 0;
margin: 0;

}
#qlinks .foot-soc a:hover{
background-color: transparent;
scale: 2;
filter: drop-shadow(5px 5px 5px white);


}
#form{
width: 20vw;
margin: 10px;
}
#form input,#form .btn,#form textarea{
margin: 2px;
border-radius: 0;
padding-left: 15px;
}
#map{
width: 30vw;
margin: 10px;
}
#map .map-container{
width: 100%;
height: 20vw;
}
#map .map-container iframe{
width: 100%;
height: 100%;
}
.container-map{
display: flex;
justify-content: space-between;
padding: 20px;
}
.footer-container{
display: flex;
justify-content: space-between;
background-color: black;
}
@media(max-width:750px){
#map{
    width:40vw;
    height:100%
    
}
#map .map-container{
    height:30vh;
    }
#map iframe{
    width:40vw;
    height:100%;
#form{
    display: none;
    width: 80%;
    margin-right: 0;
}
#form input,#form textarea,#form .btn{
    font-size: 10px !important;
}
#qlinks a{
    font-size: 10px;
    padding-top: 2px;
}
#qlinks .foot-soc a{
    font-size: 15px;
}
.footer-container h4{
    font-size: 13px;
}
}
