*{
    margin: 0;
    padding: 0;
    box-sizing: boder-box;
}
header{
    width: 100%;
    overflow: hidden;
    height: 15vh;
    z-index: 9;
    box-shadow: 2px -82px 100px black;
}
#s-name{
    padding-top: 2vh;
    text-align: center;
    position: relative;

}
#menu{
    position: absolute;
    top: 18%;
    transform: translate(-20%,0);
    right: 4%;
    font-size: 30px;
    border: 4px double black;
    padding: 0px 15px;
}
marquee{
    width: 100%;
    position: absolute;
    padding-top: 4px;
    top: 10vh;
    font-size: 9px;
    background-color: rgb(252, 252, 151);
    display: none;
    z-index: -999;
}
.img-container{
    margin-left: 5vw;
    margin-top: 2vh;
    height: 20vh;
    width: 20vh;
    background-color: black;
    border-radius: 50%;
    z-index:10;
}
nav{
    background-color: white;
    z-index: 1;
    width: 25vw;
    top: -115vh;           /* 15vh top */
    right: 10px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    box-shadow: -15px 15px 55px rgb(116, 114, 114),
    inset 2px 2px 18px rgb(114, 112, 112);
    transition: 1.2s;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* below 2 classes are added through javascropt */
nav.drop{
    top: 15vh;
}
main.blur{
    filter: blur(5px);
    z-index: -99;
}
main{
    transition: filter 1.5s ease;
    width: 100vw;
}
body{
    width: 100%;
}
nav ul{
    padding-left: 5px !important;
    
    
}
nav ul li{
    margin-left: 4px !important;
    width: 90%;
    margin:1vh 0;
    padding: 2vh 2vh;
    border-bottom: 5px;

}
nav ul li:hover{
    color: white;
    border:1px solid;
    border-radius: 5px;
    background-color: rgb(249, 156, 15);
}
nav ul #admission{
    border: 1px solid white;
    border-radius: 40px;
}
nav ul #admission:hover{
    background-color: greenyellow;
    color: black !important;

}
nav ul li a{
    padding-left: 15px;
    text-decoration: none;
    color: rgb(251, 251, 251);
}




/* for responsiveness */
@media(max-width:800px){
    #s-name h2{
    font-size: 16px !important;        
    
    }
    #s-name p{
        font-size: 9px;
    }
    .img-container{
        display: none;
    }
    #s-name{
        padding-left: 10px;
        text-align: start;
    
    }
    #menu{
        top: 18%;
        transform: translate(-20%,0);
        right: 4%;
        font-size: 19px;
        border: 1px solid black;
        padding: 0px 10px;
    }
    header{
        border-bottom-left-radius: 0;
        height: 10vh;
        z-index: 9;
        border-bottom-right-radius: 0;
    }
    nav{
        padding: 0;
        width: 50vw;
        right: 2px;
        font-size: 11px;
        border-top-right-radius: 0px;
    }
    nav.drop{
        top: 10vh;
    }
    nav ul li a{
        padding-left: 20px;

    }
    marquee{
        display: block;
        border-radius: 0;
        height: 30px
    }
}