main{
    position: relative;
    top: 19vh;
}
#teacherssec{
    min-height: 50vh;
    margin-bottom:10px;
    padding-bottom: 30px;
}
#teacherssec h3,#teacherssec p{
    text-align: center;
    padding-top: 2vh;
}
#teacherssec .playschool{
    display: flex;
    justify-content: space-around;
}
#teacherssec .playschool a{
    width: 20vw;
}
#teacherssec .highschool{
    display: flex;
    justify-content: space-around;

}
#teacherssec .highschool .onetofive{
    display: flex;
    flex-direction: column;
}
#teacherssec .highschool .fivetosix{
    display: flex;
    flex-direction: column;
}
#teacherssec a{
    display: flex;
    justify-content: center;
    width: 25vw;
    margin: 15px;
}


@media(max-width:560px){
    #teacherssec a{
        width: 40vw;
    }
    #teacherssec .playschool a h6{
        font-size: 11px;
    }
}
